*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    background: linear-gradient(to left,#a8caba,#5d4157);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    color: #161616;
    margin-left: 5px;
    font-style: italic;
}
form{
     background: rgba(255,255, 255, .3);
     padding: 6rem;
     max-height: 155%;
     margin-right: 350px;
     border-radius: 20px;
     border-left: 1px solid rgba(255,255, 255, .3);
     border-top: 1px solid rgba(255,255, 255, .3);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     -moz-backdrop-filter: blur(10px);
     box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
     text-align: center;
    }
input{
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255,255, 255, .3);
    border-top: 1px solid rgba(255,255, 255, .3);
    padding: 1rem;
    margin-top: 5px;
    width: 300pt;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition:all .3s;

}
::placeholder{
    color: rgb(65, 63, 61);
}
input:hover,
input[type="email"]:focus{
    background: rgba(255,255, 255, .1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, .2);
}

input[type="radio"]{
    margin-top: 10px;
    font-size: 1rem;
    width:10px;
    
}

button[type="submit"]{
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width:155px;
    border-left: 1px solid rgba(255,255, 255, .3);
    border-top: 1px solid rgba(255,255, 255, .3);
    border-radius: 50px;
}